body{
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding-top: 56px;
  padding-bottom: 100px;
  box-sizing: border-box;
}

html{
  height: 100%;
}

.site-wrap{
  overflow-x: hidden;
}

.nav-padding{
  padding-left: 0;
  padding-right: 0
}

.nav-custom{
  font-family: 'Oswald', sans-serif;
}

.sticky{
  position: fixed;
  top: 0;
  width: 100%;
}

.hero-bg{
  background: url(ds3-background.jpg);
  background-size: cover;
  background-position: center top;
  min-height: 60vh;
}

.card-width{
  max-width: 20em;
}

.card-center{
  min-height: 30vh;
}

footer{
  position: absolute;
  bottom: 0;
  height: 100px;
}

.thick-border{
  border-left: solid;
  border-left-width: thick;
}

.more{
  position: absolute;
  bottom: 80px;
  right: 100px;
}

.custom-margin{
  margin-top: 14vh;
}

.card-height{
  min-height: 30vh;
}

@media(min-width: 768px){
  .card-edit{
    bottom: 0;
    transform:translateY(8%) ;
  }
}


@media(min-width:768px){
.card-spill{
  position: relative;
  }
}