body{
  height: 100%;
}

.nav-padding{
  padding-left: 0;
  padding-right: 0
}

.hero-bg{
  background: url(ds3-background.jpg);
  background-size: cover;
  background-position: center top;
  min-height: 60vh;
}

.card-form{
  width: 18rem;
  margin-top: 1em;
}